.clearBoth {
    clear: both;
}
/* Responsive Header */

.r-header .navbar {
    background: url('http://leydon.code99.co.uk/wp-content/uploads/2014/06/header-img.png') repeat;
}

.navbar-header {
    float: left;
}
#r-navbar-collapse-1 li a {
    color: #4a4a4a;
}

.navbar-right li {
    float: right;
}
#r-navbar-collapse-2 li a {
}

.navbar {
    min-height: 32px;
}

.navbar-inverse .navbar-toggle {
    color: #ffffff;
    border-color: #ffffff;
    padding: 6px 7px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 2px; 
    border-radius: 2px;
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:active {
    background-color: #ffffff;
    color: #045098;
}
.navbar-fixed-top {
    border: none;
}
.navbar-inverse #r-navbar-collapse-2 .navbar-nav>li>a {
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    font-family: 'Verdana';
}

.navbar-inverse #r-navbar-collapse-2 .navbar-nav>li>a:hover,.navbar-inverse #r-navbar-collapse-2 .navbar-nav>li>a:focus {
    background-color: #ffffff;
    color: #045098;
}

.open li a {
    background-color: #ffffff;
    color: #045098;
}



.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.sub-menu {
    z-index: 9999;
}


.r-header-logo img {
    max-height: 50px;
}

/* Responsive Footer */
.r-footer {
    background: rgba(5, 40, 73, 1);
    border-top: 2px solid rgba(4, 99, 189, 1.0);
    width: 100%;
    overflow: hidden;
    color: #ffffff;
}

.r-footer p{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.r-footer p a{
    color: #ffffff;
}

.r-footer p a:hover,.r-footer p a:focus {
    color:#ededed ;
}

.r-footer-top {
    margin-top: 5px;
}

.r-footer-middle {
    margin-top: 5px;
}

.r-middle-social {
    margin-top: 5px;
}
.r-middle-social a{
    display: inline-block;
}

.r-middle-links p{
    text-align: center;
}
.r-middle-links a{
    display: inline-block;
}

.r-footer-bottom {
    margin-top: 5px;
    margin-bottom: 5px;
}

.r-bottom-switch p {
    color: #ffffff;
}

.r-bottom-switch a {
    color: #ffffff;
}

.property-detail-item {
    padding: 10px 5px 10px 5px;

}

.property-detail-item:hover {
    background-color: #ffffff;
}

.breadcrumb {
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
}

#faq-block .single-faq .faq-question, #faq-block .single-faq .faq-question a {
    font-size: 16px;
}

.c-pager img {
    width: 50px;
    height: 50px;
    margin: 4px 0px 0px -1.6px;
    border-radius: 0px 5px 0px 5px;
    cursor: pointer;
}

.c-pager img:hover {
    opacity: 0.8;
}

.c-pager ul li {
    float: left;
    margin-right: 5px;
}

.c-pager ul li {
    list-style: none;
}

#carousel-house {
    margin-bottom: 10px;
}


@media screen and (max-width: 319px){
    .navbar-inverse .navbar-toggle {
        color: #ffffff;
        border-color: #ffffff;
        padding: 6px 7px;
        font-size: 18px;
        margin-top: 5px;
        margin-right: 0px;
        margin-left: 10px;
        margin-bottom: 2px;
        border-radius: 3px;
    }
}


@media screen and (max-width: 460px){
    .r-header-logo {
        width: 55%;
    }
    .findbyroom .mapIcon  {display: none;}
    .r-header-logo img {width: 100%;}
    #page {padding-top:20px !important;}
    #target-audience .col-xs-6 {width: 100% !important; margin-left:0px !important;}
    .findbyroom ul {padding-right:0px;}
    .findbyroom ul li.map {display: none;}
}

@media screen and (max-width: 767px) {
    .navbar-right li {width: 100%;}
    .nav_top_right {width: 100%;}
    .search_container {width: 100%; padding:0px; margin-bottom: 20px;}
    .r-header {min-height: 92px;}
    .nav_top_left {width: 100%;}
    .headermenu {display: none;}
    #page-slider {display:none;}
    #slider-div .metaslider .caption {font-size:20px;}
    #house_search {position: relative !important;}
        .memberships_container  {float:left;}
    .logged-in .findbyroom_container {top:101px;}
    .findbyroom_container {top:56px;}
    .findbyroom a {padding:4px 1%;}
    .findbyroom .mapIcon span,
    .findbyroom a span span {display:none;}
    .content {padding-top:39px;}
    .r-header {min-height:55px; }
    .findbyroom_container {border-bottom:2px solid #244D79;}
    .ui-tabs .ui-tabs-nav li {
        margin-bottom: 8px !important;
    }
    .flipTable_item .back_title {font-size:12px;}
    .flipTable_item .back_button {font-size:12px;}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border-radius: 0 !important;
        display: inline-block;
        width: 30%;
        border: 1px solid #aaaaaa !important;
        text-align: center;

    }

    .ui-tabs .ui-tabs-nav li a {
        text-align: center;
        display: block;
        width: 100%;
        border-radius: 0 !important;
        float: none;
    }
    .ui-tabs-nav li.ui-tabs-active a {
        text-align: center;
        display: block;
        width: 100%;
        border-radius: 0 !important;
        float: none;
    }

    .frontpagefocus {
        margin-bottom: 5px;
    }
    .grid ul li {
        height: auto;
    }
    .grid ul li img {
        height: auto;
    }
    .hfocus {
        margin: 0px 0px;
        padding: 5px 5px;
        font-size: 12px;
        display: block;
        background: #fff;
    }

    body {
        width: 100%;
    }

    .content {
        padding-top: 0px;
    }

    .slider .metaslider .caption-wrap {
        background:transparent;
        top: 60%;
        position: absolute;
        opacity: 1;
    }
    .slider .metaslider .caption {
        background-color: #ededed;
        padding: 5px 5px;
        font-family: 'FRAMDCN';
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        opacity: 0.9;
        display: inline-block;
        color: #000000;

    }

    .slider-container {
        padding: 0;
        margin:0;
    }

    .col-slider {
        padding: 0;
        margin: 0;
    }

    #button-div ul li a {
        background: #045098;
        padding: 3px 3px;
        text-align: left;
        font-size: 12px;
        display: block;
        font-family: 'FRAMDCN';
        color: #eeeeee;
        border-radius: 0px 10px 0px 10px;
    }

    .splitter {
display: none;
    }

    .viewnew1 {
        width: 48%;
    }

    .viewnew {
        width: 48%;
    }

    .viewhead button.available_r {
        font-family: 'FRAMDCN';
        float: left;
        width: 48%;
        background: #FFFFFF;
        border: 1px solid #E0E0E0 !important;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 0;
        color: #272727;
        font-size: 12px;
        text-align: center;
        outline:none;
    }

    .viewhead button.search_r {
        font-family: 'FRAMDCN';
        float: left;
        width: 48%;
        margin-left: 0;
        margin-top: 5px;
        background: #005da6;
        margin-right: 1px;
        height: 30px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        outline:none;
    }

    #tabs .ui-tabs-nav li a {
        font-size: 15px;
        padding: 3px;
    }

    #tabs>ul {
        padding: 0;
    }

    .navbar-inverse .navbar-toggle {
        color: #ffffff;
        border-color: #ccc;
        padding: 6px 7px 0px;
        font-size: 16px;
        margin-top: 7px;
        margin-right: 0px;
        margin-left: 10px;
        margin-bottom: 2px;
        border-radius: 3px;
    }

}
@media screen and (min-width: 768px) {

    .contentallign1 {
        width: 750px;
    }

    .r-header-logo img {
        max-height: 90px;
    }
    #button-div ul li a {
        padding: 3px 25px;
        font-size: 12px;
    }
    .slider .metaslider .caption-wrap {
        top: 40%;
    }
    .slider .metaslider .caption {
        font-size: 16px;
        line-height: 20px;
    }


    .headermenu {
        margin-top: 0;
    }

    .nav-menu li a {
        padding: 5px 10px 6px;
        font-size: 12px;
    }


}
@media screen and (min-width: 768px) and (max-width: 991px) {
    #house_search {position: relative !important;}
    .r-header {min-height: 92px;}
    #page-slider {display: none;}
    .search_container {display: none !important;}
    .findbyroom_container {top:87px;}
    .logged-in .findbyroom_container {top:119px;}
    .content {padding-top:30px;}
    .flipTable_item .back_title {font-size:12px;}
    .flipTable_item .back_button { font-size:12px;}
}
/* Bootstrap Medium */
@media screen and (min-width: 992px) {

    .contentallign1 {
        width: 970px;
    }

    .navbar-inverse #r-navbar-collapse-2 .navbar-nav>li>a {
        font-size: 14px;
    }
    #button-div ul li a {
        padding: 5px 25px;
        font-size: 13px;
    }
    .slider .metaslider .caption-wrap {
        top: 50%;
    }
    .slider .metaslider .caption {
        font-size: 26px;
        line-height: 33px;
    }

    /* -------- ABOUT
--------------------------------------------------------- */

    .subpage {
        height: auto;
        overflow: hidden;
        float: left;
        padding-bottom: 20px;
        margin-right: 3px;
        margin-left: 0px;
        border-radius: 0px 10px 0px 10px;
    }
    .subpage_outer {

        position: relative;
    }
  .subpage_inner {
        width: 100%;
    }
  

    .subpage-housing {
        width: 19%;
        height: auto;
        background: #fff;
        overflow: hidden;
        float: left;
        padding-bottom: 20px;
        margin-right: 3px;
        margin-left: 0px;
        border: 1px solid #ddd;
        border-radius: 0px 10px 0px 10px;
    }

    .subpage a { font-family: "Source Sans Pro", Helvetica, sans-serif; display:block; color: rgba(35, 63, 91, 0.75); font-size:16px; }
    .subpage a:hover {
        color: rgba(35, 63, 91, 1.0);
        transition: color  .30s ease-in-out;
        -moz-transition: color  .30s ease-in-out;
        -webkit-transition: color  .30s ease-in-out;
    }

    .innerpage { float:left; width:78%; min-height:500px; margin-bottom: 25px; margin-top: 0px; /*background:#FCFCFC; border: 1px solid #ddd;*/}

    .innerpagehead-housing { font-size:26px; color:#233f5b; margin: 15px 0px 0px 0px; text-transform: uppercase; }
    .subpage p { color:#222; font-size:14px; margin-top:27px; margin-left:19px; }
    #menu-about-1 { list-style:none; width:100%; margin-top:0; height:auto; overflow:hidden; }
    #menu-about-1 li {  line-height:20px; padding: 4px 0px 4px 0px; border-bottom: 1px solid #ddd; }

    #menu-about-1 li:hover {
        transition: background  .30s ease-in-out;
        -moz-transition: background  .30s ease-in-out;
        -webkit-transition: background  .30s ease-in-out;
    }

    #menu-about-1 li:last-child { border-bottom:none; }


    #innerpage-footer{
        width: auto;
        margin: 0px 0px 0px 25px;
    }
    .viewhead button {
        border: none;
        margin-left: 2px;
        outline: none;
    }

    .splitter {
        float: left;
        height: 30px;
        width: 2px;
        border-right: 1px solid #ddd;
        margin-left: 5px;
        margin-right: 4px;
    }
    .viewheaddiv2 { height:auto; margin-top:5px; float:right; }
   

    .headermenu {
        margin-top: 0;
    }

    .nav-menu li a {
        padding: 5px 10px;
        font-size: 13px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
        #slider-div {margin-top:-40px;}
    .findbyroom_container {top:88px;}
    .logged-in .findbyroom_container {top:120px;}
}

@media screen and (min-width: 1200px) {
    .findbyroom .mapIcon {width:6%;}
    #house_search {max-width: 262px;}

    .site-main .sidebar-container {
        display: block;
    }
    .contentallign1 {
        width: 1170px;
    }
    #button-div ul li a {
        padding: 3.6px 13px;
        font-size: 14px;
    }

    /* -------- ABOUT
--------------------------------------------------------- */

    .subpage {
        height: auto;
        overflow: hidden;
        float: left;
        padding-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 0px 10px 0px 10px;
    }
    .subpage_outer{

    }

    .subpage-housing {
        width: 270px;
        height: auto;
        background: #fff;
        overflow: hidden;
        float: left;
        padding-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 0px 10px 0px 10px;
    }

    .subpage a { font-family: "Source Sans Pro", Helvetica, sans-serif; display:block; color: rgba(35, 63, 91, 0.75); font-size:16px; }
    .subpage a:hover {
        color: rgba(35, 63, 91, 1.0);
        transition: color  .30s ease-in-out;
        -moz-transition: color  .30s ease-in-out;
        -webkit-transition: color  .30s ease-in-out;
    }

    .innerpage { float:left; width:800px; min-height:500px; margin-bottom: 25px; margin-top: 0px; /*background:#FCFCFC; border: 1px solid #ddd;*/}
    .innerpagehead { font-size:26px; color:#6292C7; margin: 0px 20px 25px 20px; padding: 20px 0px; text-transform: uppercase; border-bottom:1px solid #F8F8F8; }
    .innerpagehead-housing { font-size:26px; color:#233f5b; margin: 15px 0px 0px 0px; text-transform: uppercase; }
    .subpage p { color:#222; font-size:14px; margin-top:27px; margin-left:19px; }
    #menu-about-1 { list-style:none;margin-top:10px; height:auto; overflow:hidden; }
    #menu-about-1 li {line-height:35px; padding: 4px 0px 4px 0px; border-bottom: 1px solid #F8F8F8; }

    #menu-about-1 li:hover {
        transition: background  .30s ease-in-out;
        -moz-transition: background  .30s ease-in-out;
        -webkit-transition: background  .30s ease-in-out;
    }

    #menu-about-1 li:last-child { border-bottom:none; }


    #innerpage-footer{
        width: auto;
        margin: 0px 0px 0px 25px;
    }


    .viewhead { background:#ffffff; width:100%;  margin:22px auto 22px; padding: 1px 6px; border: solid 1px #ddd; border-radius: 0px 10px 0px 10px;}
    .viewhead button {
        border: none;
        margin-left: 14.8px;
        outline: none;
    }
    .splitter {
        float: left;
        height: 30px;
        width: 2px;
        border-right: 1px solid #ddd;
        margin-left: 10px;
        margin-right: 9px;
    }

    .viewheaddiv2 { height:auto; margin-top:5px; float:right; }

    
    .headermenu {
    }

    .nav-menu li a {
        padding: 10px 31px;
        font-size: 14px;
    }
}