/* CSS Document */
.galleryholder{ height:auto; overflow:hidden; min-height:75px;}
.add_images{ background:url(../assets/nothing_yet.png) no-repeat; float:left; width:120px; height:64px; position:relative; cursor:pointer;}
.add_imagesdb{border: 3px solid #e8e8e8;float: left;height: 58px;position: relative;cursor: pointer;margin-right: 5px;}
.add_imagesdb1,.add_imagesdb2{border: 3px solid #e8e8e8;float: left;height: 58px;position: relative;cursor: pointer;margin-right: 5px;}
.foldericon{ background:#e8e8e8  url(../assets/icons.png) no-repeat; width:16px; height:16px; position:absolute; top:0px; right:0px;background-position: -16px -96px; }
.outputimg{ height:auto; overflow:hidden; float:left;}
.outputimg1{ height:auto; overflow:hidden; float:left;}
.remove{background-position: 0 -128px !important;}
.htitle{ background:#464646; padding:10px; color:#fff; cursor:pointer;}
.allinfo{ display:none;}
.ldata input{ width:80px;}
.twocheck input{ width:20px;}
.twocheck{ text-align:center;}
.twocheck label{ font-size:11px;}